.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.content {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}
.content-body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.modal-visible {
    width: 100%;
    height: 100%;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
}


.modal-visible > .modal-backdrop {
    background-color: black;
    opacity: 0.5;
    transition: opacity 0.3s ease-out;
}


.modal-content {
    width: 100%;
    height: 100%;
}

.modal-content > * {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    transition: transform 0.3s cubic-bezier(.04,.87,.21,1.08);
}

.modal-visible  .modal-content > * {
    transform: translate(-50%, -50%) scale(1);
}

.modal-hidden > .modal-backdrop {
    background-color: black;
    opacity: 0;
}

.modal-hidden  .modal-content > * {
    transform: translate(-50%, -50%) scale(0);
}

.modal-hidden {
    width: 0;
    height: 0;
}
