<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Apex Schools</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
        }
        html, body, .container {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        .container {
            background: linear-gradient(to bottom right, rgb(196, 157, 223), rgb(74, 5, 131));
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container > * {
            color: White;
        }
        .container-text {
            font-size: 56px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .logo {
            width: 400px;
        }
        .logo > img {
            width: 100%;
        }
        .container-bottom-text {
            font-size :20px;
            margin-bottom: 100px;
        }
    
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/images/logo_transparent.png">
        </div>
        <div class="container-text">
            Coming Soon
        </div>
        <div class="container-bottom-text">
            2019-2020 School Year
        </div>
    </div>
</body>
</html>